<footer class="footer">
  <p>&copy Blogger</p>
  <p>created by <a href="https://github.com/van-rebosura">Van Jacob Rebosura</a></p>
</footer>
<!-- nav related script -->
<script src="/scripts/index.js" charset="utf-8"></script>
</body>
</html>
