<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogger Dashboard</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kreon|Poppins|Ultra&display=swap" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="/styles/master.css" type="text/css">
</head>

<nav>
  <h1 class="site-title nav-brand">Blogger</h1>
  <ul>
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/contact">Contact Us</a></li>
    <li class="nav-item"a><a href="/account">Account</a></li>
  </ul>
</nav>


<body>
